@model StudentSystem.Models.Department

<h2 class="mb-4">Add Department</h2>

<form asp-action="Create" method="post">

    <input asp-for="Name" class="form-control mb-2" placeholder="Department Name" />
    <input asp-for="Location" class="form-control mb-2" placeholder="Location" />
    <input asp-for="PhoneNumber" class="form-control mb-2" placeholder="Phone Number" />

    <button class="btn btn-success w-100 mt-3">Save</button>

</form>

<a asp-action="Index" class="btn btn-secondary w-100 mt-2">Back</a>