@model StudentSystem.Models.Course

<h2 class="mb-4 text-danger">Delete Course</h2>

<div class="card shadow-sm p-4" style="max-width:400px;">

    <p><b>ID:</b> @Model.CrsId</p>
    <p><b>Name:</b> @Model.Name</p>
    <p><b>Description:</b> @Model.Description</p>
    <p><b>Students:</b> @Model.StudentCourses.Count</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CrsId" />
        <button class="btn btn-danger w-100">Yes, Delete</button>
    </form>

    <a asp-action="Index" class="btn btn-secondary w-100 mt-2">Cancel</a>

</div>